.profile-pic {
  height: 200px;
  float: right;
  position: relative;
  top: -150px;
  padding: 0 15px;
}

.jumbotron {
  float: inherit;
  margin-top: 20px;
  background-color: black;
  color: white;
}

.row {
  text-align: left;
}

.col-md-6 {
  padding: 30px;
}
