body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.card {
  background-color: #232323;
  color: white;
  border-color:
}

.card-subtitle {
  color: #b5b5b5;
}

.rounded-circle {
  height: 200px;
  float: left;
  position: relative;
  right: 30px;
  top: -20px;
  padding: 0 auto 0 auto;
}

.jumbotron {
  float: inherit;
  margin-top: 20px;
  background-color: #232323;
  color: white;
  padding: 50px
}

.row {
  text-align: left;
}

.col-md-6 {
  padding: 30px;
}

.important {
  font-weight: 500;
  color: #00635e;
}

.card {
  padding: 20px;
  width: auto;
}

#psu-pic {
  width: 64px;
}

#pmx-pic {
  width: 90px;
}

#education {
 left: -25px;
}

#job1 {
  left: -50px;
}

.btn-primary {
  background-color: #494949;
  border-color: #494949;
}
